#wd-simple-arrays ol {
    padding-left: 240px;
    text-align: center;
}

#wd-simple-arrays ol li {

    text-align: left;
}

#wd-adding-removing-from-arrays ol {
    padding-left: 240px;
    text-align: center;
}

#wd-adding-removing-from-arrays ol li {

    text-align: left;
}


#wd-map-function ol {
    padding-left: 240px;
    text-align: center;
}

#wd-map-function ol li {

    text-align: left;
}

